* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: #292929
}

.button {
  background-color: #FFBC0D !important;
  color: #000 !important;
  text-transform: none !important;
  box-shadow: none !important;
}

.nav-link {
  /* font-weight: bold; */
  font-size: 17px;
  margin-right: 20px;
  text-decoration: none;
  color: #000;
}

Link {
  text-decoration: none;
  color: #000;

}







/* -------------------------------- Footer -------------------------------- */

footer li {
  list-style: none;
}

li {
  margin-bottom: 5px;
}

.li-header {
  font-weight: bold;
  margin-bottom: 20px;
}

footer ul {
  width: 170px;
}


footer a {
  color: #292929;
  width: 35px;
  height: 35px;
  margin: 0 0px 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #e3e3e3;
}
